<h4 class="title">{{title}}</h4>

<form ng-submit="submit()">
    <div class="container">
    <div class="row">
        <div class="five columns">
            <label for="dataInput">Type of data</label>
            <select id="dataInput" ng-model="selectedDataset" ng-options="o as o for o in datasets"></select>
        </div>
        <div class="five columns">
            <label for="idInput">ID of a device</label>
            <input class="u-full-width" type="text" placeholder="for example 1091002370" id="idInput" ng-model="deviceID">
        </div>
        <div class="two columns">
            <input class="button-primary" type="submit" value="Submit">
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <label for="dateInputFrom">From Date</label>
            <input class="dateinput" type="date" placeholder="YYYY-MM-DD" id="dateInputFrom" ng-model="dateFrom">
        </div>
        <div class="four columns">
            <label for="dateInputTo">To Date</label>
            <input class="dateinput" type="date" placeholder="YYYY-MM-DD" id="dateInputTo" ng-model="dateTo">
        </div>
        <div class="four columns">
            <label for="inputLimit">Limit for results</label>
            <input class="u-full-width" type="number" placeholder="for example 10" id="inputLimit" ng-model="dataLimit">
        </div>

    </div>
    </div>
</form>

<canvas tc-chartjs chart-type="line" chart-data="chartData" chart-options="chartOptions"></canvas>