<h4 class="page-name">{{title}}</h4>

<div class="row">
    <div class="twelve columns box">
        <div class="box-title">SETTINGS</div>
        <div class="content" style="text-align: center;">
            <select class="forecast-select"
                    ng-model="timeOption"
                    ng-options="option.name for option in timeOptions"
                    ng-change="getForecast()">
            </select>
        </div>
        <form ng-submit="submit()" style="margin-bottom: 0px;">
            <div class="four columns" ng-show="timeOption.name === 'past data'">
                <span>From:</span>
                <input class="device-input" type="date" ng-model="dateFrom" placeholder="yyyy-MM-dd">
            </div>
            <div class="four columns" ng-show="timeOption.name === 'past data'">
                <span>To:</span>
                <input class="device-input" type="date" ng-model="dateTo" placeholder="yyyy-MM-dd">
            </div>
            <div class="two columns" ng-show="timeOption.name === 'past data'">
                <button class="device-submit">OK</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="twelve columns box">
        <div class="box-title">TEMPERATURE</div>
        <div class="content">
            <canvasjs-plot conf="config"></canvasjs-plot>
        </div>
    </div>
</div>

