<h4 class="page-name">{{title}}</h4>
<div class="row">
    <div class="twelve columns box">
        <div class="box-title">SETTINGS</div>
        <div class="content" style="text-align: center;">
            <!--<select class="forecast-select"-->
                    <!--ng-model="timeOption"-->
                    <!--ng-options="option.name for option in timeOptions"-->
                    <!--ng-change="getForecast()">-->
            <!--</select>-->
            <section data-range-slider class="range-slider" min="-7" max="7" step="1" ng-model="daysRange"></section>
            {{dateRange.from | date:'yyyy-MM-dd' }} -> {{dateRange.to | date:'yyyy-MM-dd'}}

        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns box">
        <div class="box-title">TEMPERATURE</div>
        <div class="content">
            <canvasjs-plot conf="config"></canvasjs-plot>
        </div>
    </div>
</div>

