<div id="header" class="container heading">
        <h1 id="header-text" class="logo" ui-sref="root.home">Power<span>Statistics</span><div id="loading-img" class="power-cord"></div></h1>
</div>
<div class="container" ng-show="$root.isLoggedIn">
    <div class="row">
        <div class="four columns menu-button third-button">
            <h1 class="menu-text" ui-sref="root.dashboard"><span>Dashboard</span></h1>
        </div>
        <div class="four columns menu-button middle second-button">
            <h1 class="menu-text" ui-sref="root.forecast"><span>Forecast</span></h1>
        </div>
        <div class="four columns menu-button first-button">
            <h2 class="menu-text" ui-sref="root.energynow"><span>EnergyNow</span></h2>
        </div>
    </div>
</div>
