<div class="container">

    <div class="row header">
        <h4 class="four columns no-margin logo" ui-sref-active="active" ui-sref="root.home">PowerStatistics</h4>
        <h6 class='two columns menu-element' ui-sref-active="active" ui-sref="root.energymeter">EnergyMeter</h6>
        <h6 class='two columns menu-element' ui-sref-active="active" ui-sref="root.weather">Weather</h6>
        <h6 class='two columns menu-element' ui-sref-active="active" ui-sref="root.predictions">Predictions</h6>
    </div>
</div>