<h4 class="title">{{title}} for:
    <input ng-model="days"
           class="days-input"
           ng-change="getForecast()"
           type="number"
           min="2" max="16"> days.</h4>

<form ng-submit="submit()">
    <div class="row">
        <div class="three columns">
            <label for="idInput">ID of a device</label>
            <input class="u-full-width" type="text" placeholder="for example 1091002370" id="idInput" ng-model="deviceID" value="1091002370">
        </div>
    </div>
    <div class="row">
        <div class="two columns">
            <input class="button-primary" type="submit" value="Submit">
        </div>
    </div>
</form>
<canvas tc-chartjs chart-type="line" chart-data="chartData" chart-options="chartOptions"></canvas>