<style>
    .city-input{
        border: none !important;
        border-bottom: 1px dotted transparent !important ;
        border-radius: 0 !important;
        transition: all 0.2s linear;
        padding-left: 0 !important;
    }
    .city-input:focus{
        border-bottom: 1px dotted black !important;
    }
</style>
<h4 class="title">{{title}}</h4>
<div class="container">
    <table class="u-full-width">
        <thead>
        <tr>
            <th>City</th>
            <th>Temperature</th>
            <th>Wind</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form ng-submit="cityForecast()" style="margin-bottom: 0">
                    <input placeholder="City" style="margin-bottom: 0" type="text" class="city-input" ng-model="weather.name">
                </form>
            </td>
            <td>{{weather.main.temp}}</td>
            <td>{{weather.wind.speed}} {{weather.wind.dir}}</td>
            <td>
                <img class="icon" src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png"></td>
        </tr>
        </tbody>
    </table>
    <h5 class="title">Last updates</h5>
    <table class="u-full-width centered">
        <thead>
        <tr class="table-heading">
            <th ng-click="sortByID(); reverseSort = !reverseSort">Device ID</th>
            <th ng-click="sortByValue(); reverseSort = !reverseSort">Value</th>
            <th ng-click="sortByDate(); reverseSort = !reverseSort">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" ng-repeat="measure in lastData | orderBy:orderByField:reverseSort" ng-class="{even: $even, odd: $odd}">
            <td>{{measure.id}}</td>
            <td>{{measure.value | number:3}}</td>
            <td>{{measure.timestamp | date:'yyyy-MM-dd HH:mm'}}</td>
        </tr>
        </tbody>
    </table>
</div>
