<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="consumedenergyDAO" class="energymeter.dao.implementation.JdbcEnergyDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="predictionDAO" class="energymeter.dao.implementation.JdbcPredictionDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="energyMeterDAO" class="energymeter.dao.implementation.JdbcEnergyMeterDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="energyBuildingDAO" class="energymeter.dao.implementation.JdbcEnergyMeterDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>